
body{
    padding: 0%;
    height: 600vh;
    background-color: #ECF9FD;
    
    }

    nav{
        /* position: fixed; */
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 90px;
        box-sizing: border-box;
        /* background-color: rgba(0,0,0,0.6); */
        border-radius: 1px solid #fff;
        /* background: rgba(0,0,0,0.7); */
        
    }

    nav ul{
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li a{
        line-height: 80px;
        color: rgb(34, 29, 29);
        padding: 12px 30px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    nav ul li a:hover{
        background: rgb(0, 47, 59);
        color: rgb(255, 255, 255);
        border-radius: 6px;
    }
    .pic{
    margin-left: 50%;
    margin-top: 2%;
    margin-top: -47%;
    border-width: 270%;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    border: 45px solid #D3E3E9;
    
    }
    .com{
        color: blue;
        margin-left: 10%;
    }
    .pic img{
        margin-right:-6%;
        width: 400px;
        height: 400px;
    }
    .vet{
        margin-left: 3px;
       color: #B88636;
    }
       
    .txt{
        margin-left: 120px;
        margin-top: -10%;
    }
    
    .dogopic{
        display: flex;
    }
    h1{
        font-size: 50px;
        /* margin-left: 10%; */
    }
    .wow{
        margin-left: 10%;
        font-size: 170%;
        color: dimgrey;
    
    }
    .quotes{
        color: blue;
    }
    .que{
        color: blue;
    }
    .blue{
        border: 2px solid #22B2BD;
        /* width: 120px;
        height: 10px; */
        padding: 30px;
        color: whitesmoke;
        background-color: #22B2BD;
        border-radius: 10px;
        margin-left: 120px;
       
    }
    .i{
        padding: 5px;
    }
    .sect2{
       margin-top: 10%;
    }
    h3{
        margin-left: 50%;
        margin-bottom: 15%;
    }
    .pic1{
        margin-left: 5%;
       
    
    }
    .sect2{
        /* height: 18%; */
    }
    .align{
        display: flex;
    
    }
    .blueborder{
        border: 2px solid #22B2BD;
        width: 80px;
        /* height: 10px; */
        padding: 30px;
        color: whitesmoke;
        background-color: #22B2BD;
        border-radius: 4px;
        margin-left: 80px;
    }
    
    
    
    .pic1{
        padding: 1%;
       font-size: 20px;
        background-color: #FFFFFF ;
        margin: 8%;
    }
    .i{
        color: #22B2BD;
    }
    .line h1{
        display: inline;
    }
    .p{
        margin-left: 5%;
    }
    
    .pic2{
        padding: 1%;
        font-size: 20px;
        background-color: #FFFFFF ;
        margin: 8%;
       
    }
    .pic3{
        padding: 1%; 
        background-color: #FFFFFF ;
        margin: 8%;
        font-size: 20px;
    }
    .pic4{
        padding: 1%;
        background-color: #FFFFFF ;
        margin: 8%;
        font-size: 20px;
    }
    .pic5{
        padding: 1%;
        background-color: #FFFFFF ;
        margin: 8%;
        font-size: 20px;
    }
    .pic6{
        padding: 1%; 
        background-color: #FFFFFF ;
        margin: 8%;
        font-size: 20px;
    }
    .magic{
        /* padding: 10%; */
        display: flex;
        padding-bottom: 70px;
        margin-bottom: 10%;
    }
    .docpic img{
        width: 490px;
        height: 500px;
    }
    .rates img{
        margin-bottom: 60px;
    }
    .doctor{
        display: flex;
        padding: 5px;
        /* background-color: #D6F5FB; */
    }
    .line{
        display: flex;
        
    }
    line h2{
        font-size: larger;
    }
    .line p{
        padding: 7%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         padding-top: 3px;
        /* margin-left: 20%; */
    }
    .last{
        display: flex;
        padding-top: -100px;
    }
    .wow1{
        padding: 55px;
        font-size: larger;
        margin-left: 3%;
        margin-top: 2%;
        height: 370px;
        background-color: white;
        width: 500px;
    }
    .wow2{
        width: 500px;
        padding: 55px;
        font-size: larger;
        /* margin-right: -1%; */
        margin-left: 3%;
      background-color: white;
      height: 370px;
      margin-bottom: 2%;
      margin-top: 2%;
    }
    .maledoc{
    
    } 
    .alldocs{
        display: flex;
        padding: 30px;
       
    }
    .threedocs{
        /* background-color:#D6F5FB ; */
        height: 7%;
        margin-left: 11%;
    }
    .docc{
        height:7% ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
       margin-left: -2%;
    }
    
    .do{
       height: 7%;
      margin-left: 10%;
    }
    .fem{
        width: 500px;
        height: 120px;
        margin-left: 10%;
    }
    .text{
      padding: 7%;
    }
    .time{
        margin-bottom: 2px;
    }
    .hi{
        margin-right: 80%;
    }
    .styling{
        text-align: center;
        padding-top: 70px;
        /* border: 5px solid #22B2BD;
       /* margin-right: 20%; */
       /* margin-left: 20%;
       background-color:#D3E3E9; */ 
    }
    .styling p{
        font-size: 20px;
        background-color: white;
        width: 40%;
        height: 10vh;
        margin-left: 32%;
        border-radius:15px ;
        padding-top: 3%;
    }
    .email{
        padding-top: 10px;
    }
    .done{
      /* background-color:  #D6F5FB; */
      height: 5%;
    }
    .sub{
       
        background-color: blue;
        padding: 3% 5%;
        margin-left: 38%;
        margin-top: -27%;
        height: 60px;
        border-radius: 10px;
        /* width: 10px; */
       /* padding-left: 50%; */
    
      
    }
    .footer{
        display: flex;
    }
    .foot1{
        padding: 85px;
    }
    .foot2{
        padding: 85px;
    
    }
    .foot3{
        padding: 85px;
    }
    .foot0{
        padding: 85px;
        margin-left: 5%;
    }
    .wow1 img{
        border: 2px solid black;
        border-radius: 50%;
    }
    .loveemoji{
        margin-top: -30%;
        margin-left: 52%;
       
    }
    .sect2{
        margin-top: 30%;
    }
    .bluu{
        margin-left: 80%;
        color: #22B2BD;
        font-size: 24px;
    }
    .sect2 h2{
        font-size: 50px;
    }
    .align{
    margin-top: -20%;
    }
    .oneye {
        margin: -680%;
        margin-left: 245%;
        width: 120px;
      
    }
    .last{
        margin-top: -10%;
    }
    .paragraph{
        padding-top: 50px;
    }
    .wow2 img{
        border: 2px solid black;
        border-radius: 50%;
    }
    
    .rating{
        color: yellow;
    }
    #l{
        color: black;
        
    }
    
    .secondp{
        color: yellow;
    }
    .one{
        color: blue
        
        
    }
    .two{
        color: blue;
    }
    .three{
        color: blue;
    }
    .four{
        color: blue;
    }
    .five{
        color: blue;
    }
    .six{
        color: blue;
    }
    .doctor{
        margin-top: -20%;
    }
    .started{
        border: 2px solid blue;
        border-width: 20px;
        color: blue;
     
    } 
    .like{
        display: flex;


    }